body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.logo a, a:active, a:hover {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.icons {
    width: 20px;
}

#logo {
    width: 50px;
    height: 50px;
}

#logoLabel {
    vertical-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 30px;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
}

.menu li {
    margin:10px;
    border-radius: 20px;
    color: red;
    padding: 10px;
    background-color: #f0f2f5;
    display: flex;
}

.menu li:hover {
    background-color: #d8dadf;
}

.menu li a, a:active {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.post, .user {
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.post .post_userSection, .user {
    font-weight: bold;
}

.post_contentSection {
    hyphens: auto;
    overflow-wrap: break-word;
}

.emptyContainer {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.upperDiv {
    display: flex;
    align-items: center;
}

.post_userSection {
    margin-right: 10px;
}

.post_submitTimeSection {
    height: 100%;
    font-size: 12px;
}

.searchBarLabel, .newPostButton {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 300px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.searchBarLabel input {
    display: flex;
    background-color: lightgrey;
    border-width: 0;
    border-radius: 20px;
    height: 30px;
    width: 300px;
    padding: 5px;
}

.searchBarLabel input:focus {
    outline: none;
    border-color: red;
    border-width: 2px;
    background-color: #f0f2f5;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.resultDiv {
    position: relative;
    display: block;
}

.user{
    width: 30%;
    height: 50px;
    display: flex;
    place-items: center;
    place-content: center;
    vertical-align: center;
    margin: 40px auto auto;
}

.newPostButton {
    margin: 20px;
    text-align: right;

}

#newPostButton {
    transition: transform 0.5s ease;
    border-radius: 20px;
    border-color: darkred;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.newPostButton button:hover {
    transition: background-color 0.2s;
    background-color: darkred;
}

.newPostContent {
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px;
    right: 0;
}

.hidden {
    display: none;
}

#submitButton {
    border-radius: 20px;
    border-color: darkred;
    font-weight: bold;
    margin: 10px;
}

#newPostComment {
    height: 140px;
    width: 290px;
    border-radius: 20px;
    border-color: darkred;
    text-align: left;
    padding: 10px;
    outline: none;
}

.rotateNewPostButton {
    transform: rotate(45deg);
}


